:root{
    --verdefundo: #F3FFEB;
    --pretofonte: #000000;
}
body{
    background-color: var(--verdefundo);
    color: var(--pretofonte);
    margin: 0px;
}

img{
    width: 150px;
}

header{
    display:block ; 
    justify-content: space-around;
    align-items: center;
    margin: 8px;
}
.img-primeiro-topico{
    width: 15%;
color: #A3B09A;
    border: 20px solid;
    margin-left: 2%;
}

.primeiro-topico {
    display: block;
   margin: 15px;
   margin-left: 12%;
}

#nome-dos-nengues {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    background-color: palegreen;
    margin: 20px;
    padding: 20px;
    border-radius: 30px;
    border: 3px solid;
    text-align: center;
}

.foto-equipe {
    width: 40%;
    border: 3px solid;
    border-radius: 30px;
}

footer{
 background-color: #cbd8c2;
color: azure;
display: grid;
margin: 0px;
padding: 20px;
    
}
footer a{
    color:#A3B09A;
}

