:root{
    --verdefundo: #F3FFEB;
    --pretofonte: #000000;
}
body{
    background-color: var(--verdefundo);
    color: var(--pretofonte);
}

img{
    width: 150px;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.img-primeiro-topico{
    width: 5%;
}

.primeiro-topico{
    display: flex;
}