:root{
    --verdefundo: #F3FFEB;
    --pretofonte: #000000;
}
body{
    background-color: var(--verdefundo);
    color: var(--pretofonte);
}

img{
    width: 150px;
}

header{
    display:block ; 
    justify-content: space-around;
    align-items: center;
}
.img-primeiro-topico{
    width: 15%;
    border-radius: 30px;
    border: 3px solid;
}

.primeiro-topico {
    display: block;
    background-color: palegreen;
    margin: 20px;
    padding: 20px;
    border-radius: 30px;
    border: 3px solid;
}

.nome-dos-nengues {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    background-color: palegreen;
    margin: 20px;
    padding: 20px;
    border-radius: 30px;
    border: 3px solid;
    text-align: center;
}

.foto-equipe {
    width: 40%;
    border: 3px solid;
    padding: 20px;
}